### int --> number

In [4]:
num = 12
print(num)
print(type(num)) # to check the type of data

12
<class 'int'>

In [3]:
print(type(123))

<class 'int'>

### string(str)---> text

In [8]:
first = "123"
print(first)
print(type(first))

123
<class 'str'>

#### python is a dynamically type progrmming language

In [10]:
sec = 'khan'
print(sec)
print(type(sec))

khan
<class 'str'>

In [13]:
thired = """okhla vihar"""
print(thired)
print(type(thired))

okhla vihar
<class 'str'>

In [14]:
forth = '''india 110025'''
print(forth)
print(type(forth))

india 110025
<class 'str'>

In [17]:
# my name is "sajid"
print('''my name is 'sajid' ''')

my name is 'sajid'

### decimal ---> float

In [21]:

salary = 23.68967
print(salary)
print(type(salary))

23.68967
<class 'float'>

### boolean(bool)---> True/False

In [27]:
f= False
print(f)
print(type(f))
t = True
print(t)
print(type(t))

False
<class 'bool'>
True
<class 'bool'>

### None ---> NoneType (nothing)

In [29]:
no =None
print(no)
print(type(no))

None
<class 'NoneType'>

### complex ---> real _ im

In [30]:
com = 3+5j
print(com)
print(type(com))

(3+5j)
<class 'complex'>

### list ---> [ ]

In [31]:
my_list = [1,2,3,'sajid',34.8,True]
print(my_list)
print(type(my_list))

[1, 2, 3, 'sajid', 34.8, True]
<class 'list'>

In [32]:
num2 = [1,2,3,6,9,2,5,9]
print(num2)

[1, 2, 3, 6, 9, 2, 5, 9]

### tuple ---> ( )

In [33]:
my_tuple = (1,2,3,'sajid',34.8,True)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 'sajid', 34.8, True)
<class 'tuple'>

### set ---> { }

In [34]:
my_set = {1,2,3,'sajid',34.8,True}
print(my_set)
print(type(my_set))

{1, 2, 3, 34.8, 'sajid'}
<class 'set'>

### dictionary --- >dict ( 'key':'value')

In [35]:
my_dict = {'name':'amaan','age':27}
print(my_dict)
print(type(my_dict))

{'name': 'amaan', 'age': 27}
<class 'dict'>